/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
// @import "@ionic/angular/css/normalize.css";
@import '@ionic/angular/css/structure.css';
// @import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

@import "@ionic/angular/css/palettes/dark.always.css";
@import "@ionic/angular/css/palettes/dark.class.css"; 
@import '@ionic/angular/css/palettes/dark.system.css';

/* Tailwind CSS */
@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
}

/* Importar estilos de cm-chessboard */
// cm-chessboard
@import 'assets/cm-chessboard/assets/chessboard.scss';
@import 'assets/cm-chessboard/assets/extensions/arrows/arrows.scss';
@import 'assets/cm-chessboard/assets/extensions/markers/markers.scss';
@import 'assets/cm-chessboard/assets/extensions/promotion-dialog/promotion-dialog.scss';

// markers
.cm-chessboard .markers .marker.marker-circle-green {
    stroke: green;
    stroke-width: 3px;
    opacity: 0.6;
}

.cm-chessboard .markers .marker.marker-circle-yellow {
    stroke: yellow;
    stroke-width: 3px;
    opacity: 0.6;
}

.cm-chessboard .markers .marker.marker-circle-blue {
    stroke: blue;
    stroke-width: 3px;
    opacity: 0.6;
}

.cm-chessboard .markers .marker.marker-circle-red {
    stroke: red;
    stroke-width: 3px;
    opacity: 0.6;
}

.cm-chessboard .markers .marker.marker-square-green {
    fill: green;
    opacity: 0.2;
}

.cm-chessboard .markers .marker.marker-square-clue {
    fill: #46b0e0;
    opacity: 0.8;
}

.cm-chessboard .markers .marker.marker-square-stockfish-best-move {
    fill: #7974ff;
    opacity: 0.8;
}

.cm-chessboard .markers .marker.marker-dot-green {
    fill: green;
    opacity: 0.2;
}

// Arrows
.cm-chessboard .arrow-green .arrow-head {
    fill: green;
    fill-rule: nonzero;
    fill-opacity: 1;
}

.cm-chessboard .arrow-green .arrow-line {
    stroke: green;
    stroke-linecap: round;
    opacity: 0.5;
}

.cm-chessboard .arrow-yellow .arrow-head {
    fill: yellow;
    fill-rule: nonzero;
    fill-opacity: 1;
}

.cm-chessboard .arrow-yellow .arrow-line {
    stroke: yellow;
    stroke-linecap: round;
    opacity: 0.5;
}

.cm-chessboard .arrow-blue .arrow-head {
    fill: blue;
    fill-rule: nonzero;
    fill-opacity: 1;
}

.cm-chessboard .arrow-blue .arrow-line {
    stroke: blue;
    stroke-linecap: round;
    opacity: 0.5;
}

.cm-chessboard .arrow-red .arrow-head {
    fill: red;
    fill-rule: nonzero;
    fill-opacity: 1;
}

.cm-chessboard .arrow-red .arrow-line {
    stroke: red;
    stroke-linecap: round;
    opacity: 0.5;
}

.cm-chessboard .arrow-stockfish-best-move .arrow-head {
    fill: #7974ff;
    fill-rule: nonzero;
    fill-opacity: 1;
}

.cm-chessboard .arrow-stockfish-best-move .arrow-line {
    stroke: #7974ff;
    stroke-linecap: round;
    opacity: 0.5;
}

.cm-chessboard .arrow-stockfish-ponder-move .arrow-head {
    fill: orange;
    fill-rule: nonzero;
    fill-opacity: 1;
}

.cm-chessboard .arrow-stockfish-ponder-move .arrow-line {
    stroke: orange;
    stroke-linecap: round;
    opacity: 0.5;
}

// end cm-chessboard

.main-container {
  @apply min-h-screen flex flex-col bg-base-200;
}
