<div class="theme-selector">
  @if (showBackButton) {
    <button class="back-btn" type="button" (click)="onBackClick()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </button>
  }
  @if (showRefreshGoals) {
    <button class="btn btn-sm btn-dash gap-2" type="button" (click)="onRefreshGoalsClick()">
      <ion-icon name="refresh-outline"></ion-icon>
    </button>
  }
  @if (showSimulateLoading) {
    <button class="btn btn-sm  btn-dash gap-2" type="button" (click)="onSimulateLoadingClick()">
      <ion-icon name="infinite-outline"></ion-icon>
      <span>Simular carga</span>
    </button>
  }
  @if (showStopSimulateLoading) {
    <button class="btn btn-sm btn-error btn-dash gap-2" type="button" (click)="onStopSimulateLoadingClick()">
      <ion-icon name="stop-outline"></ion-icon>
      <span>Detener carga</span>
    </button>
  }
  <div class="theme-selector-right">
    <div class="theme-select-control">
      <label class="label">
        <span class="label-text">Tema:</span>
        @if (isMobile) {
          <ion-select
            interface="action-sheet"
            [value]="selectedTheme()"
            (ionChange)="onIonSelectChange($event)">
            @for (theme of themes; track theme) {
              <ion-select-option [value]="theme">{{ theme }}</ion-select-option>
            }
          </ion-select>
        } @else {
          <select
            class="select select-bordered select-sm"
            (change)="onNativeSelectChange($event)">
            @for (theme of themes; track theme) {
              <option [value]="theme" [selected]="theme === selectedTheme()">
                {{ theme }}
              </option>
            }
          </select>
        }
      </label>
    </div>
    <div class="badge badge-soft badge-info">0.0.5</div>
  </div>
</div>
