<ion-content [fullscreen]="true">
  <div id="theme-target" class="theme-wrapper" appThemeApply>
    <app-theme-selector [showSimulateLoading]="!isSimulatingLoading" [showStopSimulateLoading]="isSimulatingLoading"
      [showRefreshGoals]="true" (simulateLoading)="onSimulateLoading()" (stopSimulateLoading)="onStopSimulateLoading()"
      (refreshGoals)="onRefreshGoals()"></app-theme-selector>
    @if (isSimulatingLoading) {
    <progress class="progress progress-info w-full"></progress>
    }

    @if (isSimulatingLoading) {
    <div class="min-h-screen flex flex-col">
      <div class="w-full flex flex-col justify-center items-center p-4 gap-4">

        <!-- Stats Skeleton -->
        <div class="stats shadow w-full max-w-md">
          <div class="stat place-items-center">
            <div class="skeleton h-4 w-24 mb-2"></div>
            <div class="skeleton h-8 w-20"></div>
            <div class="skeleton h-4 w-16 mt-2"></div>
          </div>
          <div class="stat place-items-center">
            <div class="skeleton h-4 w-24 mb-2"></div>
            <div class="skeleton h-8 w-20"></div>
            <div class="skeleton h-4 w-16 mt-2"></div>
          </div>
        </div>

        <!-- Card Skeleton -->
        <div class="card bg-neutral text-neutral-content w-full max-w-md">
          <div class="card-body items-center text-center">
            <div class="skeleton h-6 w-32 mb-2"></div>
            <div class="skeleton h-4 w-40 mb-4"></div>
            <div class="skeleton h-8 w-24"></div>
          </div>
        </div>

        <!-- Goals Skeleton -->
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <div class="w-full flex items-center justify-between">
                <div class="skeleton h-6 w-24"></div>
                <div class="join">
                  <div class="skeleton h-8 w-8 rounded"></div>
                  <div class="skeleton h-8 w-8 rounded"></div>
                  <div class="skeleton h-8 w-8 rounded"></div>
                </div>
              </div>
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col size="6" size-md="6" class="p-2">
              <ion-card class="shadow-sm hover:shadow-md transition-shadow h-full ion-activatable ripple-parent" button>
                <ion-ripple-effect></ion-ripple-effect>
                <figure class="px-4 pt-4">
                  <div class="skeleton rounded-lg w-full h-32"></div>
                </figure>
                <div class="card-body p-4">
                  <div class="skeleton h-3 w-16 mb-1"></div>
                  <div class="skeleton h-5 w-24 mb-2"></div>
                  <div class="flex justify-between items-center mb-2">
                    <div class="skeleton h-4 w-20"></div>
                    <div class="skeleton h-4 w-10"></div>
                  </div>
                  <div class="skeleton h-2 w-full"></div>
                </div>
              </ion-card>
            </ion-col>
            <ion-col size="6" size-md="6" class="p-2">
              <ion-card class="shadow-sm hover:shadow-md transition-shadow h-full ion-activatable ripple-parent" button>
                <ion-ripple-effect></ion-ripple-effect>
                <figure class="px-4 pt-4">
                  <div class="skeleton rounded-lg w-full h-32"></div>
                </figure>
                <div class="card-body p-4">
                  <div class="skeleton h-3 w-16 mb-1"></div>
                  <div class="skeleton h-5 w-24 mb-2"></div>
                  <div class="flex justify-between items-center mb-2">
                    <div class="skeleton h-4 w-20"></div>
                    <div class="skeleton h-4 w-10"></div>
                  </div>
                  <div class="skeleton h-2 w-full"></div>
                </div>
              </ion-card>
            </ion-col>
            <ion-col size="6" size-md="6" class="p-2">
              <ion-card class="shadow-sm hover:shadow-md transition-shadow h-full ion-activatable ripple-parent" button>
                <ion-ripple-effect></ion-ripple-effect>
                <figure class="px-4 pt-4">
                  <div class="skeleton rounded-lg w-full h-32"></div>
                </figure>
                <div class="card-body p-4">
                  <div class="skeleton h-3 w-16 mb-1"></div>
                  <div class="skeleton h-5 w-24 mb-2"></div>
                  <div class="flex justify-between items-center mb-2">
                    <div class="skeleton h-4 w-20"></div>
                    <div class="skeleton h-4 w-10"></div>
                  </div>
                  <div class="skeleton h-2 w-full"></div>
                </div>
              </ion-card>
            </ion-col>
            <ion-col size="6" size-md="6" class="p-2">
              <ion-card class="shadow-sm hover:shadow-md transition-shadow h-full ion-activatable ripple-parent" button>
                <ion-ripple-effect></ion-ripple-effect>
                <figure class="px-4 pt-4">
                  <div class="skeleton rounded-lg w-full h-32"></div>
                </figure>
                <div class="card-body p-4">
                  <div class="skeleton h-3 w-16 mb-1"></div>
                  <div class="skeleton h-5 w-24 mb-2"></div>
                  <div class="flex justify-between items-center mb-2">
                    <div class="skeleton h-4 w-20"></div>
                    <div class="skeleton h-4 w-10"></div>
                  </div>
                  <div class="skeleton h-2 w-full"></div>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>

          <!-- Puedes replicar para 'list' y 'slide' si lo deseas -->
        </ion-grid>
      </div>
    </div>
    } @else {
    <!-- CONTENIDO REAL -->
    <div class="min-h-screen flex flex-col">
      <!-- ...todo el contenido real actual... -->
      <div class="w-full flex flex-col justify-center items-center p-4 gap-4">

        <div class="stats shadow w-full max-w-md">

          <label class="swap swap-flip">
            <!-- this hidden checkbox controls the state -->
            <input type="checkbox" />

            <div class="swap-on">
              <app-line-chart [labels]="lineChartLabels" [data]="lineChartData" label="Ingresos"></app-line-chart>
            </div>
            <div class="swap-off">
              <div class="stat place-items-center">
                <div class="stat-title">Ingresos</div>
                <div class="stat-value text-success">4,200</div>
                <div class="stat-desc">↗︎ 40 (2%)</div>
              </div>
            </div>
          </label>



          <label class="swap swap-flip">
            <input type="checkbox" />
            <div class="swap-on">
              <app-line-chart [labels]="['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio']"
                [data]="[1100, 1200, 1150, 1300, 1250, 1200]" label="Gastos" [lineColor]="'#ef4444'"
                [bgColor]="'rgba(239,68,68,0.2)'"></app-line-chart>
            </div>
            <div class="swap-off">
              <div class="stat place-items-center">
                <div class="stat-title">Gastos</div>
                <div class="stat-value text-error">1,200</div>
                <div class="stat-desc">↘︎ 90 (14%)</div>
              </div>
            </div>
          </label>
        </div>

        <xerpa-ui-card-create-goal-presentation [cardTitle]="'Crea tu meta!'"
          [description]="'Que nada te detenga en tu camino de ahorro.'" [buttonLabel]="'Crear meta'"
          (cardButtonClick)="createGoal()"></xerpa-ui-card-create-goal-presentation>

        <!--  Goals-->
        <div class="w-full flex items-center justify-between">
          <span class="text-lg font-semibold">Mis metas</span>
          <div class="join">
            <button class="join-item btn btn-xs btn-soft" [class.btn-primary]="viewMode === 'grid'"
              (click)="setViewMode('grid')">
              <ion-icon name="grid-outline"></ion-icon>
            </button>
            <button class="join-item btn btn-xs btn-soft" [class.btn-primary]="viewMode === 'list'"
              (click)="setViewMode('list')">
              <ion-icon name="list-outline"></ion-icon>
            </button>
            <button class="join-item btn btn-xs btn-soft" [class.btn-primary]="viewMode === 'slide'"
              (click)="setViewMode('slide')">
              <ion-icon name="albums-outline"></ion-icon>
            </button>
          </div>
        </div>
        <!-- Grilla responsiva con 2 columnas para las metas -->
        @if (viewMode === 'slide') {
        <swiper-container slides-per-view="1" auto-height="true" style="width:100%;height:auto;">
          @for (goal of goals; track goal.project_name) {
          <swiper-slide>
            <ion-card class="shadow-sm hover:shadow-md transition-shadow h-full ion-activatable" button>
              <figure class="px-4 pt-4">
                <img [src]="assetService.getGoalSvg(goal.type)" [alt]="'Meta: ' + goal.type"
                  class="rounded-lg w-full h-32 object-cover" />
              </figure>
              <div class="card-body p-4">
                <div class="text-xs text-gray-500 mb-1">{{ goal.type }}</div>
                <h2 class="card-title text-lg truncate mb-2">{{ goal.project_name }}</h2>
                <div class="flex justify-between items-center mb-2">
                  <span class="text-sm">${{ goal.amountSaved | number }} de ${{ goal.total | number }}</span>
                  <span class="text-sm font-semibold">{{ goal.porcentaje }}%</span>
                </div>
                <progress class="progress w-full" [class.progress-primary]="goal.progressClass === 'progress-primary'"
                  [class.progress-success]="goal.progressClass === 'progress-success'"
                  [class.progress-warning]="goal.progressClass === 'progress-warning'"
                  [class.progress-info]="goal.progressClass === 'progress-info'"
                  [class.progress-secondary]="goal.progressClass === 'progress-secondary'"
                  [class.progress-accent]="goal.progressClass === 'progress-accent'" [value]="goal.porcentaje"
                  max="100"></progress>
              </div>
            </ion-card>
          </swiper-slide>
          }
        </swiper-container>
        }
        @if (viewMode === 'grid') {
        <!-- Vista GRID: 2 columnas -->
        <ion-grid>
          <ion-row>
            @for (goal of goals; track goal.project_name) {
            <ion-col size="6" size-md="6" class="p-2" >
              <ion-card class="shadow-sm hover:shadow-md transition-shadow h-full ion-activatable ripple-parent" button>
                <ion-ripple-effect></ion-ripple-effect>
                <figure class="px-4 pt-4">
                  <img [src]="assetService.getGoalSvg(goal.type)" [alt]="'Meta: ' + goal.type"
                    class="rounded-lg w-full h-32 object-cover" />
                </figure>
                <div class="card-body p-4">
                  <div class="text-xs text-gray-500 mb-1">{{ goal.type }}</div>
                  <h2 class="card-title text-lg truncate mb-2">{{ goal.project_name }}</h2>
                  <div class="flex justify-between items-center mb-2">
                    <span class="text-sm">${{ goal.amountSaved | number }} de ${{ goal.total | number }}</span>
                    <span class="text-sm font-semibold">{{ goal.porcentaje }}%</span>
                  </div>
                  <progress class="progress w-full" [class.progress-primary]="goal.progressClass === 'progress-primary'"
                    [class.progress-success]="goal.progressClass === 'progress-success'"
                    [class.progress-warning]="goal.progressClass === 'progress-warning'"
                    [class.progress-info]="goal.progressClass === 'progress-info'"
                    [class.progress-secondary]="goal.progressClass === 'progress-secondary'"
                    [class.progress-accent]="goal.progressClass === 'progress-accent'" [value]="goal.porcentaje"
                    max="100"></progress>
                </div>
              </ion-card>
            </ion-col>
          }
          </ion-row>
        </ion-grid>
        }

        @if(viewMode === 'list'){

        <!-- Vista LISTA: 1 columna -->
        <ion-grid>
          <ion-row>
            @for (goal of goals; track goal.project_name) {
            <ion-col size="12" class="p-2" >
              <ion-card class="shadow-sm hover:shadow-md transition-shadow h-full ion-activatable ripple-parent" button>
                <ion-ripple-effect></ion-ripple-effect>
                <figure class="px-4 pt-4">
                  <img [src]="assetService.getGoalSvg(goal.type)" [alt]="'Meta: ' + goal.type"
                    class="rounded-lg w-full h-32 object-cover" />
                </figure>
                <div class="card-body p-4">
                  <div class="text-xs text-gray-500 mb-1">{{ goal.type }}</div>
                  <h2 class="card-title text-lg truncate mb-2">{{ goal.project_name }}</h2>
                  <div class="flex justify-between items-center mb-2">
                    <span class="text-sm">${{ goal.amountSaved | number }} de ${{ goal.total | number }}</span>
                    <span class="text-sm font-semibold">{{ goal.porcentaje }}%</span>
                  </div>
                  <progress class="progress w-full" [class.progress-primary]="goal.progressClass === 'progress-primary'"
                    [class.progress-success]="goal.progressClass === 'progress-success'"
                    [class.progress-warning]="goal.progressClass === 'progress-warning'"
                    [class.progress-info]="goal.progressClass === 'progress-info'"
                    [class.progress-secondary]="goal.progressClass === 'progress-secondary'"
                    [class.progress-accent]="goal.progressClass === 'progress-accent'" [value]="goal.porcentaje"
                    max="100"></progress>
                </div>
              </ion-card>
            </ion-col>
          }
          </ion-row>
        </ion-grid>
        }

      </div>
    </div>
    }
  </div>

</ion-content>