<ion-header class="ion-no-border">
    <ion-toolbar>

        <!--Web only-->
        <ion-thumbnail slot="start" class="ion-margin-horizontal ion-hide-md-down" (click)="goTo('/')">
            <img src="assets/home_icon.png" />
        </ion-thumbnail>

        <!-- mobile only-->
        <ion-buttons slot="start" class="ion-hide-md-up">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>

        <ion-buttons slot="start" class="ion-hide-md-down">


            <ion-button color="dark" (click)="goTo('/puzzles')" class="ion-text-capitalize" fill="clear">
                <ion-icon name="barbell-outline" slot="start"></ion-icon>
                {{ 'MENU.training' | translate }}
                <!-- Entrenamiento -->
            </ion-button>


            <ion-button color="dark" (click)="goTo('/coordinates')" class="ion-text-capitalize" fill="clear">
                <ion-icon name="locate-outline" slot="start"></ion-icon>
                {{ 'MENU.coordinates' | translate }}
                <!-- Coordenadas -->
            </ion-button>


        </ion-buttons>

        <!-- <ion-buttons slot="end" class="ion-hide-md-down">
            <ion-button>
                <ion-icon slot="start" name="notifications-outline"></ion-icon>
                <ion-badge slot="end" color="danger">42</ion-badge>
            </ion-button>
        </ion-buttons> -->

        <ng-container *ngIf="(profile$ | async) as profile; else elseTemplateLoginButton">

            <ng-container *ngIf="profile?.email ; else elseTemplateLoginButton">

                <ion-chip slot="end" class="ion-padding ion-hide-md-down" (click)="openMenuProfile()">
                    <ion-label>{{ profile.name || profile.email }}</ion-label>
                    <ion-icon name="menu"></ion-icon>
                </ion-chip>

            </ng-container>


        </ng-container>
        <ng-template #elseTemplateLoginButton>

            <ion-buttons slot="end" class="ion-hide-md-down">
                <ion-button id="nested-button" size="large" expand="block" fill="solid" color="primary">
                    {{ 'LoginMenuBar' | translate }}
                </ion-button>
            </ion-buttons>

            <ion-popover trigger="nested-button" alignment="end">
                <ng-template>
                    <app-login [showAs]="'popover'"></app-login>
                </ng-template>
            </ion-popover>

        </ng-template>

    </ion-toolbar>
</ion-header>