<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-title>En construcción</ion-card-title>
        </ion-card-header>
        <ion-card-content>

            <p>
                Estamos construyendo un conjunto de Herramientas para que disfrutes del ajedrez.
            </p>
            <p>
                Si quieres ayudarme, puedes hacerlo en <a href="https://github.com/json-alzate/ChessColate">Github</a>
            </p>

        </ion-card-content>
    </ion-card>

</ion-content>