.conteiner-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta el ancho mínimo de las columnas */
    gap: 16px;
}

.plan-history-card {
    border-radius: 11px;
    overflow: hidden;
    padding: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--ion-color-light);

    .card-header {
        display: flex;
        width: 100%;
        padding: 4px;

        .title {
            flex: 1;
            align-self: center;
            font-size: 14px;
        }

        img {
            width: 24px;
            margin-right: 10px;
        }
    }

    .card-body {
        // height: 215px;
    }

    .card-footer {
        width: 100%;
        padding: 4px;
        position: absolute;
        bottom: 3px;
    }
}
