.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
//   min-height: 100vh;
  box-sizing: border-box;
}

.card-wrapper {
  width: 100%;
  max-width: 600px; /* Tamaño máximo en pantallas grandes */
}

.card {
  width: 100%;
}



/* Opcional: para mejorar el layout en pantallas muy pequeñas */
@media (max-width: 600px) {
  .body-container {
    align-items: flex-start;
    padding-top: 2rem;
  }
}
