<ion-content [fullscreen]="true">

    <div class="main-container" data-theme="halloween">
  
      <ion-grid>
        <ion-row>
    
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="3" size-xl="3" class="ion-margin-top">

            <ion-list>
              @for (block of ($any(plan)?.blocks ?? []); track $index; let i = $index) {
                <div>
                  @if (i === currentIndexBlock) {
                    <ion-item class="item-block-training-info" lines="none">
                      <ion-label>
                        @if (block.title) {
                          <h6>{{ block.title }}</h6>
                        }
                        @if (block.theme) {
                          <h6>{{ appService.getNameThemePuzzleByValue(block.theme) }}</h6>
                        }
                        @if (block.openingFamily) {
                          <h6>{{ appService.getNameOpeningByValue(block.openingFamily) }}</h6>
                        }
                      </ion-label>
                      @if (showBlockTimer) {
                        <div slot="end">{{ timeLeftBlock | secondsToMinutesSeconds }}</div>
                      }
                      @if (totalPuzzlesInBlock > 0) {
                        <div slot="end"> {{ countPuzzlesPlayedBlock }} / {{ totalPuzzlesInBlock }}</div>
                      }
                    </ion-item>
                  } @else {
                    <ion-item class="item-block-training-info ion-hide-lg-down" lines="none" disabled>
                      <ion-label>
                        @if (block.title) {
                          <h6>{{ block.title }}</h6>
                        }
                        @if (block.theme) {
                          <h6>{{ appService.getNameThemePuzzleByValue(block.theme) }}</h6>
                        }
                        @if (block.openingFamily) {
                          <h6>{{ appService.getNameOpeningByValue(block.openingFamily) }}</h6>
                        }
                      </ion-label>
                      @if (i < currentIndexBlock) {
                        <ion-icon color="success" slot="end" name="checkmark-done-outline"></ion-icon>
                      }
                      @if (i > currentIndexBlock) {
                        <ion-icon slot="end" name="checkmark-outline"></ion-icon>
                      }
                    </ion-item>
                  }
                </div>
              }

            </ion-list>
    
          </ion-col>
    
          <ion-col class="ion-no-padding ion-margin-top" size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
            <app-board-puzzle [setPuzzle]="puzzleToPlay" [setForceStopTimer]="forceStopTimerInPuzzleBoard"
              (puzzleCompleted)="onPuzzleCompleted($any($event), 'good')" (puzzleFailed)="onPuzzleCompleted($any($event), 'bad')"
              (puzzleEndByTime)="onPuzzleCompleted($any($event), 'timeOut')"></app-board-puzzle>
          </ion-col>
          @if (isGoshHelperShow) {
            <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6" offset-lg="3" offset-xl="3">
              <ion-note>
                {{ 'PUZZLES.help.gosh' | transloco}} <ion-icon [name]="'eye-outline'"></ion-icon> {{ 'PUZZLES.help.gosh2' |
                transloco}} 00:00
              </ion-note>
            </ion-col>
          }
        </ion-row>
      </ion-grid>
  
    </div>
  </ion-content>