<swiper-container [slidesPerView]="1.2" [spaceBetween]="10" [centeredSlides]="true">
  <swiper-slide>
    <div>
      <img src="assets/images/vasili.webp" />
    </div>
  </swiper-slide>
  <swiper-slide>
    <img src="assets/images/petrosian.jpeg" />
  </swiper-slide>
  <swiper-slide>
    <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
  </swiper-slide>
  <swiper-slide>
    <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
  </swiper-slide>
    <swiper-slide>
    <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
  </swiper-slide>
    <swiper-slide>
    <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
  </swiper-slide>
    <swiper-slide>
    <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
  </swiper-slide>
</swiper-container>