<ion-content [fullscreen]="true" class="ion-padding">



  <div class="block-presentation ion-padding-vertical">
    <div>

      <div>
        <h1 class="ion-text-center">{{ title }}</h1>
      </div>
      <div>
        <p class="ion-text-center">{{ description }}</p>
      </div>
    </div>

    <ion-img [src]="image"></ion-img>

    <div>
      <ion-button color="light" (click)="closeAndStart()">
        {{ 'PUZZLES.start' | translate }} &nbsp; <small> ({{ timer }}) </small>
      </ion-button>
    </div>
  </div>
</ion-content>