<div class="flex items-center mt-2">
  <progress
    class="progress w-full"
    [ngClass]="{
          'progress-success': timeColor === 'success',
          'progress-warning': timeColor === 'warning',
          'progress-error': timeColor === 'danger'
        }"
    [value]="displayProgress"
    max="100"
  ></progress>
  <p
    class="text-sm ml-2 whitespace-nowrap"
    [ngClass]="{
          'text-success': timeColor === 'success',
          'text-warning': timeColor === 'warning',
          'text-error': timeColor === 'danger'
        }"
  >
    {{ displayTime }}
  </p>
</div>
