<ion-content [fullscreen]="true" class="ion-padding">
  <div id="theme-target" class="theme-wrapper" appThemeApply>


    <ion-grid class="ion-margin-top">
      <ion-row>
  
        <ion-col size="12" size-sm="12" size-md="12" size-lg="6" size-xl="6" offset-lg="2" offset-xl="2">
  
              <lib-board (squareSelected)="onSquareSelected($event)"></lib-board>
              <h1 class="current-puzzle">
                {{ currentPuzzle }}
              </h1>
  
  
              <div class="flex items-center mt-2 ">
                <progress class="progress progress-success w-full" [value]="progressValue * 100" max="100"></progress>
                <p class="text-sm ml-2 whitespace-nowrap">{{time | number:'1.0-0'}}</p>
              </div>
  
        </ion-col>
  
        <ion-col size="12" size-sm="12" size-md="12" size-lg="4" size-xl="4" >

          <div class="flex justify-between items-center">

            <div class="join join-horizontal">
              <button 
                class="join-item btn btn-sm" 
                [class.btn-soft]="boardOrientation === 'white'"
                [class.btn-ghost]="boardOrientation !== 'white'"
                (click)="changeBoardOrientation('white')"
              >
                <img src="assets/images/pieces/cburnett/wK.svg" alt="White King" class="size-6">
              </button>
              <button 
                class="join-item btn btn-sm" 
                [class.btn-soft]="boardOrientation === 'random'"
                [class.btn-ghost]="boardOrientation !== 'random'"
                (click)="changeBoardOrientation('random')"
              >
                <ion-icon name="shuffle-outline" class="size-6"></ion-icon>
              </button>
            
              <button 
                class="join-item btn btn-sm" 
                [class.btn-soft]="boardOrientation === 'black'"
                [class.btn-ghost]="boardOrientation !== 'black'"
                (click)="changeBoardOrientation('black')"
              >
                <img src="assets/images/pieces/cburnett/bK.svg" alt="Black King" class="size-6">
              </button>
            </div>
            <div class="join join-horizontal">
              <button class="btn btn-sm  btn-ghost ">
                <ion-icon name="settings-outline" class="size-6"></ion-icon>
              </button>
            </div>
          </div>

          
          <div class="flex flex-col justify-center items-center gap-2 mt-2">
            

           
            
            <button class="btn btn-lg btn-primary w-full" (click)="play()">Jugar</button>

            <div class="stats stats-horizontal shadow w-full mt-2">
              <div class="stat place-items-center">
                <div class="stat-title">Blancas</div>
                <div class="stat-value">23</div>
                <div class="stat-desc">Hace 1 mes</div>
              </div>
            
              <div class="stat place-items-center">
                <div class="stat-title">Negras</div>
                <div class="stat-value">35</div>
                <div class="stat-desc">Hace 2 semanas</div>
              </div>
            
            </div>
          </div>
  
        </ion-col>
  
      </ion-row>
    </ion-grid>

    <!-- <div class="ion-padding">

      <lib-board></lib-board>

      <div class="flex items-center mt-2 ">
        <progress class="progress progress-success w-full" [value]="progressValue * 100" max="100"></progress>
        <p class="text-sm ml-2 whitespace-nowrap">{{time | number:'1.0-0'}}</p>
      </div>

      
    </div> -->

  </div>

</ion-content>