swiper-slide {
    padding: 0px 4px;
    // height: 315px;
}

.plan-history-card {
    border-radius: 11px;
    overflow: hidden;
    padding: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--ion-color-light);

    .card-header {
        display: flex;
        width: 100%;
        padding: 4px;

        .title {
            flex: 1;
            align-self: center;
            font-size: 14px;
        }

        img {
            width: 24px;
            margin-right: 10px;
        }
    }

    .card-body {
        // height: 215px;
    }

    .card-footer {
        width: 100%;
        padding: 4px;
        position: absolute;
        bottom: 3px;
    }
}

.more-button-container {
    display: flex;
    justify-content: center;
    padding-top: 50%;
    ion-button {
        align-self: center;
    }
}

/* Dispositivos Móviles de Mayor Tamaño (teléfonos grandes, modo retrato y paisaje) */
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
    /* Estilos aquí */
}
/* Tablets (modo retrato) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Estilos aquí */
}
/* Tablets y Computadoras Pequeñas (modo paisaje) */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1224px) {
    /* Estilos aquí */
}
/* Pantallas Grandes y Monitores (computadoras de escritorio) */
@media only screen and (min-device-width: 1224px) {
    /* Estilos aquí */
}
