canvas {
  max-height: 50vh;
  position: absolute;
  width: 100%;
  height: 100%;
}

.div-chart-container {
  position: relative;
  min-height: 400px;
}

.hide {
  height: 0px;
  width: 0px;
  opacity: 0;
  overflow: hidden;
}