<ion-content [fullscreen]="true">
  <div id="theme-target" class="theme-wrapper" appThemeApply>
    <app-theme-selector [showBackButton]="true" (back)="goBack()"></app-theme-selector>
    <div class="steps-container flex justify-center">
      <ul class="steps">
        <li 
          *ngFor="let step of ['Tipo', 'Detalles', 'Cuentas', 'Confirmar']; let i = index"
          [ngClass]="getStepClass(i)"
          [class.cursor-pointer]="isStepEnabled(i)"
          (click)="isStepEnabled(i) ? navigateToStep(i) : null">
          <span class="step-label">{{ step }}</span>
        </li>
      </ul>
    </div>
    <div class="body-container mt-2">
      <swiper-container #swiperContainer slides-per-view="1" auto-height="true" style="width:100%;height:auto;" allow-touch-move="false" allow-keyboard="false">
        <!-- Slide 1: Selección de tipo de meta -->
        <swiper-slide class="pr-2 pl-2">
          <div class="goal-type-container">
            <div class="flex flex-col  justify-center">
              <h2 class="text-2xl font-bold">¿Cuál será tu meta?</h2>
              <p class="text-sm text-gray-500">Selecciona el tipo de meta que deseas alcanzar</p>
            </div>
            <div class="goal-type-grid">
              @for (tipo of goalTypes; track tipo.title) {
              <div
                class="card  shadow-sm cursor-pointer hover:shadow-md transition-shadow ion-activatable ripple-parent"
                (click)="selectGoalType(tipo)"
                [class.selected]="selectedGoalType?.title === tipo.title"
                button>
                <ion-ripple-effect></ion-ripple-effect>
                <figure class="h-24">
                  <img [src]="tipo.img" [alt]="tipo.title" class="w-full h-full object-cover rounded-t-lg" />
                </figure>
                <div class="card-body p-4">
                  <h2 class="card-title text-center justify-center text-base">{{ tipo.title }}</h2>
                </div>
              </div>
              }
            </div>
          </div>
        </swiper-slide>




        <!-- Slide 2: Formulario de detalles -->
        <swiper-slide class="pr-2 pl-2">
          <div class="goal-details-container">
            <form [formGroup]="goalDetailsForm" (ngSubmit)="onDetailsSubmit()">
              <div class="flex flex-row justify-between">
                <div>
                  <h2 class="text-2xl font-bold ">Determina tu meta</h2>
                  <p class="text-sm text-gray-500">Agrega los detalles de tu meta</p>
                </div>
                <div class="flex flex-col justify-center items-center mr-4">
                  <div class="avatar">
                    <div class="mask mask-squircle w-12">
                      @if (selectedGoalType) {
                        <img [src]="selectedGoalType.img" [alt]="selectedGoalType.title" />
                      }
                    </div>
                  </div>
                  <span class="text-sm text-gray-500 text-center">
                    {{ selectedGoalType?.title || 'Ahorro' }}
                  </span>
                </div>
              </div>
              <ion-row>
                <ion-col size="12" >
                  <fieldset class="fieldset">
                    <legend class="fieldset-legend">Nombre de la meta</legend>
                    <div class="relative">
                      <input formControlName="name" type="text" class="input w-full pr-10" [placeholder]="getGoalNamePlaceholder()" />
                    </div>
                    @if (nameField?.touched && nameField?.hasError('required')) {
                      <p class="label text-red-500">
                        Este campo es obligatorio
                      </p>
                    } @else {
                      <p class="label invisible">
                        &nbsp;
                      </p>
                    }
                  </fieldset>
                </ion-col>
                <ion-col size="12" >
                  <fieldset class="fieldset">
                    <legend class="fieldset-legend">Monto objetivo</legend>
                    <div class="relative">
                      <input formControlName="amount" type="number" class="input w-full pr-10" placeholder="Ej: 10000" />
                    </div>
                    @if (amountField?.touched && amountField?.hasError('required')) {
                      <p class="label text-red-500">
                        Este campo es obligatorio
                      </p>
                    } @else {
                      <p class="label invisible">
                        &nbsp;
                      </p>
                    }
                  </fieldset>
                </ion-col>
                <ion-col size="12" >
                  <fieldset class="fieldset">
                    <legend class="fieldset-legend">Fecha de finalización</legend>
                    <input formControlName="endDate" type="date" class="input w-full" />
                    <p class="label" *ngIf="endDateField?.value">{{ getEndDateLabel() }}</p>
                  </fieldset>
                </ion-col>
              </ion-row>
              <div class="justify-center ion-margin-top">
                <button type="submit" [disabled]="goalDetailsForm.invalid"
                  class="btn btn-success btn-lg btn-block">Continuar</button>
              </div>
            </form>
          </div>
        </swiper-slide>


        <!-- Slide 3: Selección de cuentas -->
        <swiper-slide class="pr-2 pl-2">
          <div class="accounts-select">
            <div class="flex flex-row justify-between">
              <div>
                <h2 class="text-2xl font-bold ">Selecciona las cuentas</h2>
                <p class="text-sm text-gray-500">Decide cómo se moverá tu dinero</p>
              </div>
              <div class="flex flex-col justify-center items-center mr-4 min-w-[60px]">
                <div class="avatar">
                  <div class="mask mask-squircle w-12">
                    @if (selectedGoalType) {
                      <img [src]="selectedGoalType.img" [alt]="selectedGoalType.title" />
                    }
                  </div>
                </div>
                <span class="text-sm text-gray-500 text-center truncate max-w-[70px]">
                  {{ selectedGoalType?.title || 'Ahorro' }}
                </span>
              </div>
            </div>
   
            <form [formGroup]="accountsForm" (ngSubmit)="onAccountsSubmit()">

              <div class="card bg-base-200  w-full mt-6">
                <div class="card-body">
                  <h6 class="card-title">Cuenta de origen</h6>
                  @if (isMobile) {
                    <ion-select
                      [value]="originAccountField?.value"
                      (ionChange)="onOriginAccountChange($event.detail.value)"
                      interface="action-sheet"
                      placeholder="Selecciona cuenta de origen">
                      @for (cuenta of cuentas; track cuenta.id) {
                        <ion-select-option [value]="cuenta.id">{{ cuenta.nombre }}</ion-select-option>
                      }
                    </ion-select>
                  } @else {
                    <select class="input" formControlName="originAccount">
                      <option [ngValue]="null" disabled selected>Selecciona cuenta de origen</option>
                      @for (cuenta of cuentas; track cuenta.id) {
                        <option [value]="cuenta.id">{{ cuenta.nombre }}</option>
                      }
                    </select>
                  }
                </div>
              </div>

              <div class="divider">
                <ion-icon name="arrow-down-outline" style="font-size: 2.5rem; width: 2.5rem; height: 2.5rem;"></ion-icon>
              </div>

              <div class="card bg-base-200  w-full">
                <div class="card-body">
                  <h6 class="card-title">Cuenta de destino</h6>
                  
                  @if (isMobile) {
                    <ion-select
                      [value]="destinationAccountField?.value"
                      (ionChange)="onDestinationAccountChange($event.detail.value)"
                      interface="action-sheet"
                      placeholder="Selecciona cuenta de destino">
                      @for (cuenta of cuentas; track cuenta.id) {
                        <ion-select-option [value]="cuenta.id">{{ cuenta.nombre }}</ion-select-option>
                      }
                    </ion-select>
                  } @else {
                    <select class="input" formControlName="destinationAccount">
                      <option [ngValue]="null" disabled selected>Selecciona cuenta de destino</option>
                      @for (cuenta of cuentas; track cuenta.id) {
                        <option [value]="cuenta.id">{{ cuenta.nombre }}</option>
                      }
                    </select>
                  }
                </div>
              </div>
              <div class="justify-center ion-margin-top">
                <button type="submit" [disabled]="accountsForm.invalid"
                  class="btn btn-success btn-lg btn-block">Continuar</button>
              </div>
            </form>
          </div>
        </swiper-slide>



        <!-- Slide 4: Resumen y reglas -->
        <swiper-slide class="pr-2 pl-2">
          <div class="summary-slide">
            <div class="flex flex-row justify-between">
              <div>
                <h2 class="text-2xl font-bold">Resumen de tu meta</h2>
                <p class="text-sm text-gray-500">Échale un vistazo final a tu meta</p>
              </div>
              <div class="flex flex-col justify-center items-center mr-4">
                <div class="avatar">
                  <div class="mask mask-squircle w-12">
                    @if (selectedGoalType) {
                      <img [src]="selectedGoalType.img" [alt]="selectedGoalType.title" />
                    }
                  </div>
                </div>
                <span class="text-sm text-gray-500 text-center">
                  {{ selectedGoalType?.title || 'Ahorro' }}
                </span>
              </div>
            </div>
            <div >
              <!-- Aquí se mostraría el resumen de la meta -->
              <ul class="list ">
                  
                <li class="list-row">
                  <div>
                    <div class="text-xl font-semibold opacity-60">{{ goalDetailsForm.get('name')?.value }}</div>
                    <div class="text-xs font-semibold opacity-60">Monto objetivo:</div>
                    <div>{{ goalDetailsForm.get('amount')?.value | currency:'MXN' }}</div>
                    <div class="text-xs font-semibold opacity-60">Fecha de finalización</div>
                    <div>{{ goalDetailsForm.get('endDate')?.value | date:'dd/MM/yyyy' }}</div>
                    <div class="text-xs font-semibold opacity-60">Cuenta de origen:</div>
                    <div>{{ getAccountNameById(originAccountField?.value) }}</div>
                    <div class="text-xs font-semibold opacity-60">Cuenta de destino:</div>
                    <div>{{ getAccountNameById(destinationAccountField?.value) }}</div>
                  </div>
                </li>
                
                
              </ul>
            </div>
              <ul class="list bg-base-100 rounded-box"> 
                <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Reglas que ayudarán a cumplir tu meta</li>
                
                <li class="list-row">
                  
                  <div><img class="size-10 rounded-box" src="assets/images/rules/monto_fijo.svg"/></div>
                  <div class="list-col-grow">
                    <div>Monto fijo</div>
                    <div class="text-xs font-semibold opacity-60">Se moverá un monto fijo de la cuenta de origen a la cuenta de destino</div>
                  </div>
                </li>

            
                
                
              </ul>

              <div class="flex justify-center items-center mb-10">
                <button class="btn btn-soft btn-primary " (click)="openRulesModal()">Agregar más reglas</button>
              </div>
            
            <div class="justify-center ion-margin-top">
              <button (click)="onSubmit()" [disabled]="!goalDetailsForm.valid || !accountsForm.valid"
                class="btn btn-success btn-lg btn-block">Crear meta</button>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</ion-content>