<ion-content>

  <div class="info-container">


    <ion-text color="medium">
      <h1 class="ion-text-center">{{timeLeft}}</h1>
    </ion-text>

    <div [ngSwitch]="gameStatus">
      <span *ngSwitchCase="'waiting'">
        <ion-text color="primary">
          <h1 class="ion-text-center">
            {{ 'SQUARES.play' | translate }}
            <!-- Desliza para jugar -->
          </h1>
        </ion-text>
      </span>
      <span *ngSwitchCase="'win'">
        <ion-text color="success">
          <h1 class="ion-text-center">Match!</h1>
        </ion-text>
      </span>
      <span *ngSwitchCase="'lose'">
        <ion-text color="danger">
          <h1 class="ion-text-center">Nop...</h1>
        </ion-text>
      </span>
      <span *ngSwitchCase="'playing'">
        <ion-text color="medium">
          <h1 class="ion-text-center">----</h1>
        </ion-text>
      </span>
    </div>

  </div>

  <div class="container">

    <ion-card *ngFor="let square of squares">
      <ion-card-content>
        <ion-button class="btn-square-name" disabled expand="block" fill="clear" shape="round">
          {{ square.name }}
        </ion-button>
      </ion-card-content>
    </ion-card>

  </div>

  <app-statics></app-statics>

</ion-content>